<div id='picture-index-page-wrapper'>
  <a id='add-picture-link' href='pictures/new'>Add a Picture</a>
  <%if @pictures.any?%>
    <%@pictures.each do |picture|%>
      <div class="picture-container">
          <%= image_tag("#{picture.file_path}", :class => "img_preview") %>
      </div>
      <%= link_to "Like", new_picture_like_url(picture), :id =>"like-button-#{picture.id}"%>
      <%= link_to "Comment", new_picture_comment_url(picture), :id =>"comment-link-#{picture.id}" %>
      <div>Likes: <%=picture.likes.length%></div>
      <div>Comments: <%=picture.comments.first.text if picture.comments.any?%> </div>
    <%end%>
  <%else%>
    <h1 id='no-pictures-title'>No Pictures Yet</h1>
  <%end%>


</div>
