<div class= 'form-container'>
  <%= form_for(@picture, multipart: true) do |f| %>
    <div class="field">
      <%= f.label :caption, 'Caption' %>
      <%= f.text_field :caption %>
    </div>
    <div class="field">
      <%= f.label :thumbnail %>
      <%= f.file_field :thumbnail %>
    </div>
    <div class="actions">
      <%= f.submit 'Post' %>
    </div>
  <% end %>
</div>
