<!DOCTYPE html>
<html>
  <head>
    <title>Toon</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'surprised.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='sticky-header'>
      <div class='header-third'>
        <a id='add-picture-link' href='pictures/new'>Add a Picture</a>
      </div>
      <div class='header-third' id='left'>
        <div class="header-image">
        <%= link_to(pictures_url, :class => 'home-link') do %>
              <%= image_tag 'Pictoon Logo', :id => "header-image" %>
        <%end%>
      </div>

      </div>

      <div class='header-third'>
        
      </div>



    </div>
    <%= yield %>
  </body>
</html>
